* {
    box-sizing: border-box;
}


body {
    background-image:url('Champagne Shot.jpg');
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:rgb(243, 67, 134);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    }


.btn  {
flex-direction: column;
font-size: 3rem;
padding: 2rem 0;
width: 35rem;
text-align: center;
color: rgb(32, 145, 145);
border-radius: 3rem;
box-shadow: 2px;
margin-bottom: 1rem;
}







start {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(138, 78, 78);

}







